---
name: CI

on:
  pull_request:
    branches:
      - main
      - "v*"

jobs:
  validate-lint-statically-analyze-and-unit-test:
    name: Run validation, linters, static analysis and unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.4", "8.5"]
        experimental: [false]
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          lfs: true

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug
          extensions: "grpc"

      - name: Buf
        uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          setup_only: true
          token: ${{ secrets.BUF_TOKEN }}

      - name: Validate
        shell: bash
        run: make validate-composer

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Generate
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
        run: make generate

      - name: Lint
        shell: bash
        run: make lint

      - name: Static analysis
        shell: bash
        run: make static-analysis

      - name: Check repo status
        shell: bash
        run: |
          repo_status=$(git status --porcelain)
          if [[ ! -z "${repo_status}" ]]; then
            echo "::error::Uncommitted changes detected"
            echo "${repo_status}"
            git status -vv
            exit 1
          fi

      - name: Run cerbos service
        run: docker compose up -d

      - name: Run unit tests
        shell: bash
        env:
          CERBOS_HUB_API_ENDPOINT: "${{ secrets.CERBOS_HUB_API_ENDPOINT }}"
          CERBOS_HUB_CLIENT_ID: "${{ secrets.CERBOS_HUB_CLIENT_ID }}"
          CERBOS_HUB_CLIENT_SECRET: "${{ secrets.CERBOS_HUB_CLIENT_SECRET }}"
          CERBOS_HUB_STORE_ID: "${{ secrets.CERBOS_HUB_STORE_ID }}"
        run: make test

      - name: Stop cerbos service
        run: docker compose down
