---
name: CI

on:
  pull_request:
    branches:
      - main
      - 'v*'

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Lint
        shell: bash
        run: make lint

  static-analysis:
    name: Run static analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Statically analyze code
        shell: bash
        run: make static-analysis

  validate-composer:
    name: composer.json validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Validate
        shell: bash
        run: make validate-composer

  unit-tests:
    name: Run unit tests
    needs: [ "lint" ]
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.4"
          - "8.1"
        operating-system:
          - "ubuntu-latest"
        dependencies:
          - "lowest"
          - "highest"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run unit tests
        shell: bash
        run: make test